/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  @apply font-sans;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

body {
  @apply m-0 flex items-center justify-center min-w-[320px] min-h-screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.border-7 {
  border-width: 7px;
}

.height-25{
  height: 6rem;
}

.text-180xl {
  font-size: 300px;
}

.text-12xl {
  font-size: 140px;
}
.min-w-375 {
  min-width: 375px;
}


.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.letter-spacing {
  letter-spacing: 12px;
}

.blink {
  animation: blinkAnimation 2s infinite;
}

@keyframes blinkAnimation {
  0% {
    background-color: #8b0000;
    color: white;
  }
  50% {
    background-color: white;
    color: #8b0000;
  }
  100% {
    background-color: #8b0000;
    color: white;
  }
}

.preventBurnInHue {
  animation: hueRotate 250s linear infinite;
}

@keyframes hueRotate {
  0% { filter: hue-rotate(25deg) grayscale(0); }
  25% { filter: hue-rotate(-25deg) grayscale(0); }
  50% { filter: hue-rotate(25deg) grayscale(1); }
  75% { filter: hue-rotate(-25deg) grayscale(0); }
  100% { filter: hue-rotate(25deg) grayscale(0); }
}

.preventBurnInMove {
  animation: move 100s forwards infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {  transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

.background {
  background-color: rgb(0, 51, 25);
}